<div id="content-box" class="wrapper-content-box">

  Im in

  <div class="l-content-header">
    <div id="context-header" class="wrapper-context-header"></div>
  </div>

  <div class="l-content-body">
    <div id="content" class="wrapper-content"></div>
  </div>

  <div id="main-menu-container"></div>
  <div id="sub-menu-container"></div>
</div>

<div class="loader">
  <div class="loader-bg fixed"></div>
  <img src="public/app/assets/img/loader.gif" class="loader-icon fixed" />
</div>
